.carousel--container {
  position: relative;
  text-align: center;
}

.carousel--previous {
  position: absolute;
  left: 130px;
  height: 80px;
  top: 150px;
}

.carousel--next {
  position: absolute;
  right: 130px;
  height: 80px;
  top: 150px;
}

.carousel--index {
  position: absolute;
  left: 49%;
  bottom: 55px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.carousel--picture {
  width: calc(100% - 200px);
  height: 415px;
  object-fit: cover;
  margin: 0 100px 30px;
  border-radius: 25px;
}

@media screen and (max-width: 800px) {
  .carousel--picture {
    width: calc(100% - 40px);
    margin: 0 0 30px;
  }

  .carousel--previous {
    left: 70px;
    top: 160px;
  }

  .carousel--next {
    right: 70px;
    top: 160px;
  }
}

@media screen and (max-width: 500px) {
  .carousel--picture {
    height: 255px;
  }

  .carousel--previous {
    height: 20px;
    left: 30px;
    top: 110px;
  }

  .carousel--next {
    height: 20px;
    right: 30px;
    top: 110px;
  }
}

@media screen and (min-width: 1540px) {
  .carousel--picture {
    width: 1440px;
  }

  .carousel--previous {
    left: 10%;
  }

  .carousel--next {
    right: 10%;
  }
}

@media screen and (min-width: 1775px) {
  .carousel--previous {
    left: 15%;
  }

  .carousel--next {
    right: 15%;
  }
}

@media screen and (min-width: 2000px) {
  .carousel--previous {
    left: 20%;
  }

  .carousel--next {
    right: 20%;
  }
}

@media screen and (min-width: 2350px) {
  .carousel--previous {
    left: 25%;
  }

  .carousel--next {
    right: 25%;
  }
}
